<div>
	<div class="top-navigation twelve-col initially-off top-navigation-js" style="display: block;">
		<div class="user-function">
			<div class="user-details">
				<span><a href="#" class="register-required">Mobile site</a></span>
				<span><a class="same-page-login-required" href="#">Sign in</a>	</span>
				<span>
					<a href="#" class="register-required">Register</a>
				</span>
			</div>
			<span id="larger" class="first" style="display: inline; ">Text <a href="#">larger</a></span>
			<span class="middot">·</span>
			<span id="smaller" style="display: inline; "><a href="#">smaller</a></span>
			<div id="drop-down-1" class="drop-down">
				<h2>
					About us
				</h2>
				<ul class="initially-off" style="display: none; ">
					<li>
						<a href="#" class="link-text">About us</a>
					</li>
					<li>
						<a href="#" class="link-text">Contact us</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="other-functions">
			<!--[if (IE 6) | (IE 7)]><style>.other-functions .webfeed { width: 70px; }</style><![endif]-->
			<span class="webfeed">
				<a href="#" rel="alternate" type="application/rss+xml" title="rss" class="feed">Webfeed</a>
			</span>
			<div id="drop-down-2" class="drop-down mirror">
				<h2>
					Today's paper
				</h2>
				<ul class="initially-off" style="display: none; ">
					<li>
						<a href="#" class="link-text">The Guardian</a>
					</li>
					<li>
						<a href="#" class="link-text">G2 features</a>
					</li>
				</ul>
			</div>
			<div id="drop-down-3" class="drop-down mirror">
				<h2>
					Zeitgeist
				</h2>
				<ul class="initially-off" style="display: none; ">
					<li>
						<a href="#" class="link-text">Today's hot topics</a>
					</li>
				</ul>
			</div>
		</div>
	</div>	
	<div id="local-info">
		<p>
			<a id="accolade" href="#" class="">
				Nerd of the year
			</a> | 

			<span class="lift:Tools.DateNow"><span id="time">Time goes here</span></span>

			| Last updated less than one minute ago 

		</p>
		<form id="searchbeta" method="get" action="http://www.guardian.co.uk/search" onsubmit="return searchWeb('http://www.guardian.co.uk/websearch', 'http://www.guardian.co.uk/search', 'http://www.guardian.co.uk/discussion/search/comments/');">
			<input type="text" name="q" placeholder="Your search terms..."/>
			<select name="section" id="gu-site-search" style="z-index: 0 !important;">
				<option value="" id="search-guardian">tanjona.co.uk</option>
				<option value="search-contributions" id="search-contributions">Noobs comments</option>
				<option value="web" id="search-web">Web</option>
			</select>
			<input type="submit" value="Search"/>
		</form>
	</div>
	<div id="masthead">
		<div id="guardian-logo">
			<img src="/images/logoTanjona.png" height="52" width="344" alt="tanjona.co.uk home"/>
			<img alt="" id="ajax-loader" style="display:none; margin-bottom: 0px; margin-left: 5px" src="/images/ajax-loader.gif"/>
		</div>
		<div id="weather-header" class="trailblock">
			<p class="weather-place">
				<a href="#" class="link-text">Weather</a>
			</p>
			<p class="weather-place">
				<span class="pipe"> | </span>					
				<a href="#" class="link-text">London</a>
			</p>
			
			<div id="weather-body" class="lift:Tools.Weather weather-trail">
					<img alt="Sunny with showers" src="" class="weather-icon"/>
					<div class="temp">
						<p class="temp-high">High temp here !</p>
						<p class="temp-low">Low temp here !</p>			
					</div>
			</div>
		</div>
	</div>
	<div id="zones-nav">
		<div id="global-nav">
			<ul>
				<li class="first news">
					<a href="/index">News</a>
				</li>

				<li class="sport">
					<a href="/data">Data</a>
				</li>

				<li class="culture">
					<a href="/flex/index">Friends</a>
				</li>
				
				<li class="life-and-style">
					<a href="/lift">Lift</a>
				</li>

				<li class="travel">
					<a href="/about/index">About</a>
				</li>
	
				<li class="">
					<a href="/404">404</a>
				</li>
				
			</ul>
		</div>
		<div class="crumb-wrapper">
			<ul class="lift:tools.breadcrumb crumb-nav">
				<li id="crumb1"><a class="link" href="#">Link</a></li>
			</ul>
			
		</div>
	</div>
</div>