<div id="newsticker" class="twelve-col b1 ">
	<p class="ticker-strap ticker-heading"><strong>Breaking noobs:</strong></p>
	<ul id="ticker">
		<li style="display: list-item; ">
			<a href="#" target="_top">Vincent Lechemin aurait depasse les 75 apm !</a>
		</li>
	</ul>
	<p id="ticker-controls">
		<span><input type="image" id="ticker-back" src="/images/btn_back.gif" alt="back"/></span>
		<span><input type="image" id="ticker-pause" src="/images/btn_pause.gif" alt="pause"/></span>
		<span><input type="image" id="ticker-forward" src="/images/btn_forward.gif" alt="forward"/></span>
	</p>
</div>