<div class="two-col edge">
	<div class="jobs component two-col edge">
		<div class="hd">
			<h2>
				<a href="#">
					<img src="/images/logoTanjonaJob.png" alt="Tanjona Jobs">
				</a>
			</h2>
		</div>
		<div class="bd">
			<a href="">
				<img src="/images/jobless.jpg" width="140" height="120" alt="hire me"/>
			</a>
		</div>
	</div>
	<div class="soulmate component two-col edge"> 
		<div class="hd">
			<h3 class="t5">
				<a href="#">Social Media</a>
			</h3>
		</div> 
		<p>
				<lift:Friends.tanjonainfos>
			<a friend:link="" class="soulmate-image-link" > 
				<img friend:img="" title="" width="60" alt=""/>
			</a> 
			<a href="#"></a> 
				</lift:Friends.tanjonainfos>
		</p> 
		<p class="slotfooter">

		</p> 
	</div>

</div>